# Build
build/
cmake-build-*/
*.exe
*.pdb
*.ilk
*.exp
*.lib

# IDE
.vs/
.vscode/
.idea/
*.sln
*.vcxproj*
*.vcxproj.user

# Output
**/output_*.txt

# macOS / Linux
.DS_Store
*.swp
*.swo
*~

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
